.main {
  margin: auto;
  width: 1524px;
}

.nav {
  margin: auto;
  width: 1524px;
  margin-top: 16px;
  background-color: white;
  height: 70px;
  position: relative;
  top: 0px;
  z-index: 1;
}

.nav .dropdown-menu {
  min-width: 100px;
  opacity: 0;
}

.nav .dropdown-menu li a {
  font-size: 12px;
  display: block;
  padding-left: 15px;
  font-family: "Arial Black", Gadget, sans-serif;
}

.nav a {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 20px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.nav .logo {
  font-size: 22px;
  padding: 16px 20px;
}

.jumbotron {
  background-color: #fff;
  height: 450px;
  position: relative;
}

.jumbo-child {
  background-image: url('http://i.imgur.com/YCTKppd.jpg');
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  margin: auto;
  margin-top: 16px;
  margin-left: 50%;
  left: -760px;
  height: 550px;
  width: 1520px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 5px #555;
}

.jumbotron p {
  color: #fff;
  font-size: 48px;
  font-family: Georgia, serif;
  text-shadow: 1px 1px 2px #555;
  padding: 20px;
}

.jumbotron .container {
  position: relative;
  top: 50px;
}

.projectsThumbs {
  position: relative;
  background-color: white;
  z-index: 0
}

.projects h2 {
  position: relative;
  /*font-weight: bold;*/
  font-family: Gadget, sans-serif;
}

.projects h4 {
  position: relative;
  font-family: Gadget, sans-serif;
}

.dream {
  position: relative;
  background-color: #f2f2ff;
  padding: 20px;
}

.dream h3 {
  font-size: 20px;
  font-family: "Arial", Gadget, sans-serif;
  font-weight: bold;
}

.dream a {
  color: #00b0ff;
}

#test-page a{
  color: #f2f2ff;
}

.Thumbs h2 {
  font-family: "Arial", Gadget, sans-serif;
  font-weight: bold;
  color: #505050;
}

.Thumbs .container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-md-4 .thumbnail {
  width: 300px;
  height: 270px;
}

.col-md-5 .thumbnail {
  width: 200px;
  height: 200px;
}

.thumb-link-text a {
  position: absolute;
  top: 215px;
  font-size: 30px;
  font-family: "Arial", Gadget, sans-serif;
  font-weight: bold;
  color: #505050;
}

.col-md-5 .thumbnail #he-man {
  cursor: pointer;
}

.thumbnail-2 {
  background-size: 100%;
}

.thumbnail-3 {
  background-size: 100%;
}

.testing-header h1 {
  font-family: courier;
  font-weight: bold;
}
