.main {
  margin: auto;
  width: 1520px;
}

.nav {
  height: 55px;
}

.nav a {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 20px;
  text-transform: uppercase;}

.nav li {
  display: inline;
}

.nav .logo {
  font-size: 22px;
  padding: 16px 20px;
}

.jumbotron {
  background-color: #fff;
  height: 400px;
  position: relative;
}

.jumbo-child {
  background-image: url('https://googledrive.com/host/0B7WKevVfCukUcHNvVTNZd3A3V0E/BackgroundPic.jpg');
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  margin: auto;
  margin-left: 50%;
  left: -760px;
  height: 400px;
  width: 1520px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 5px #555;
}

.jumbotron p {
  color: #fff;
  font-size: 48px;
  font-family: Georgia, serif;
  text-shadow: 1px 1px 2px #555;
  padding: 20px;
}

.jumbotron .container {
  position: relative;
  top: 50px;
}
.projects h2 {
  position: relative;
  font-weight: bold;
  font-family: Gadget, sans-serif;
  text-shadow: 1px 1px white;
}

.projects h4 {
  position: relative;
  font-family: Gadget, sans-serif;
  text-shadow: 1px 1px white;
}

.dream {
  position: relative;
  background-color: #f2f2ff;
  padding: 20px;
}

.dream h3 {
  font-size: 20px;
  font-family: "Arial", Gadget, sans-serif;
  font-weight: bold;
}

.dream a {
  color: #00b0ff;
}

.Thumbs h2 {
  font-family: "Arial", Gadget, sans-serif;
  font-weight: bold;
  color: #505050;
}

.Thumbs .container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-md-4 .thumbnail {
  width: 300px;
  height: 270px;
}

.col-md-5 .thumbnail {
  width: 200px;
  height: 200px;
}

.thumbnail-2 {
  background-size: 100%;
}

.thumbnail-3 {
  background-size: 100%;
}

.testing-header h1 {
  font-family: courier;
  font-weight: bold;
}
