body {
  background-color: black;
}

.main {
  margin: auto;
  width: 1524px;
  height: 1000px;
}

h1 {
  position: relative;
  color: white;
  text-align: center;
  top: 40px;
}

.in-progress {
  background-image: url("http://cdn.makeagif.com/media/5-18-2015/RFgj6M.gif");
  background-repeat: no-repeat;
  position: relative;
}

.nav {
  margin: auto;
  width: 1524px;
  margin-top: 14px;
  background-color: white;
  height: 70px;
  position: relative;
  top: 0px;
  z-index: 1;
}

.nav .dropdown-menu {
  min-width: 100px;
  opacity: 0;
}

.nav .dropdown-menu li a {
  font-size: 12px;
  display: block;
  padding-left: 15px;
  font-family: "Arial Black", Gadget, sans-serif;
}

.nav a {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 20px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.nav .logo {
  font-size: 22px;
  padding: 16px 20px;
}
