.main {
  background-color: black;
  margin: auto;
  width: auto;
  height: auto;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: black;
  /*opacity: 1;*/
  /*z-index: 2;*/
  top: 0;
  left: 0;
  display: none;
}

.nav {
  background-color: black;
  height: 60px;
  position: relative;
  top: 0px;
  z-index: 1;
}

.nav a {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 20px;
  text-transform: uppercase;
}

.nav .logo {
  font-size: 22px;
  padding: 16px 20px;
}

.main-background {
  background-image: url("images/movie_theatre.png");
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  /*opacity: .7;*/
  position: fixed;
  top: 0px;
  margin: auto;
  height: 900px;
  width: 100%;
}

.col-md-4 .thumbnail {
  width: 300px;
  height: 270px;
}

.col-md-5 .thumbnail {
  width: 200px;
  height: 200px;
}

.col-md-5 .thumbnail #he-man {
  cursor: pointer;
}

.thumbnail-2 {
  position: relative;
  background-size: 100%;
  top: 103px;
  left: 41px;
}

.thumbnail-3 {
  background-size: 100%;
}

.testing-header h1 {
  font-family: courier;
  font-weight: bold;
}
