body {
  background-color: #000;
}

.main {
  margin: auto;
  width: 1920px;
}

.nav {
  margin-top: 16px;
  height: 70px;
  position: relative;
  top: 0px;
  z-index: 1;
}

.nav a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 20px;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px #000;
}

.nav li {
  display: inline;
}

.nav .logo {
  font-size: 22px;
  padding: 16px 20px;
}

.main-background {
  background-image: url("http://i.imgur.com/x49jiGe.png");
  opacity: .5;
  background-repeat: no-repeat;
  background-position-x: 50%;
  position: fixed;
  top: 0px;
  margin: auto;
  height: 3000px;
  width: 100%;
}

.Thumbs h1 {
  position: fixed;
  width: 700px;
  margin-left: -350px;
  left: 50%;
  top: 130px;
  text-align: center;
  z-index: 0;
  font-family: 'Rock Salt';
  font-size: 64px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  opacity: 1;
  text-shadow: 2px 2px 5px #000;
  color: #fff;
  height: 0px;
}

.Thumbs .container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1900px;
  height: 600px;
}

.col-md-2 .thumbnail {
  position: absolute;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 40px;
  width: 280px;
  box-shadow: 0px 0px 40px black;
  z-index: 0;
}

.col-md-3 .thumbnail {
  position: absolute;
  margin-top: 230px;
  margin-right: 70px;
  margin-left: 90px;
  width: 360px;
  box-shadow: 0px 0px 40px black;
  z-index: 0;
}

.col-md-4 .thumbnail {
  position: absolute;
  margin-top: 200px;
  margin-right: 20px;
  margin-left: 100px;
  width: 400px;
  box-shadow: 0px 0px 40px black;
  z-index: 0;
}

#band-promo-1 {
  transform: translate(0%, -10%);
  left: 0px;
  top: 90px;
}

#cd-release-1 {
  transform: translate(-50%, -50%);
  left: 260px;
  top: 240px;
  width: 370px;
}

#band-promo-2 {
  transform: translate(-50%, -50%);
  left: 160px;
  top: 120px;
}

#grotto-3 {
  transform: translate(-100%, -20%);
  left: 360px;
  top: 120px;
  width: 270px;
}



#cd-release-2 {
  transform: translate(0%, -50%);
  left: 40px;
  top: 20px;
}

#grotto-1 {
  transform: translate(-30%, -50%);
  left: 170px;
  top: 23
  0px;
  width: 280px;
}

#band-promo-4 {
  transform: translate(-50%, -50%);
  left: 240px;
  top: 140px;
}

#club-red-1 {
  transform: translate(-80%, -50%);
  left: 470px;
  top: 190px;
}



#grotto-2 {
  transform: translate(-20%, -50%);
  left: 70px;
  top: 50px;
  width: 180px;
}

#playdio-1 {
  transform: translate(-30%, -50%);
  left: 170px;
  top: 200px;
  width: 280px;
}

#band-promo-3 {
  transform: translate(-50%, -50%);
  left: 70px;
  top: 0px;
  width: 200px;
}

#cd-release-3 {
  transform: translate(-80%, -50%);
  left: 170px;
  top: 190px;
}
